<div>

    <h3>Regístrate en esta asombrosa página web</h3>
    <form action="/auth/singup" method="POST">
        <label for="username">Tu nombre de usuario: </label>
        <input type="text" name="username">
        <br>
        <label for="password">Contraseña: </label>
        <input type="password" name="password" placeholder="min 6 caracteres, 1 numero">
        <br>
        <button>Dale!</button>
        <p style="color: red">{{alertError}}</p>
        






    </form>


</div>